body {
  height: 2000px;
}

#popup {
  height: 200px;
  width: 300px;
  background-color: black;
  position: fixed;
  top: 200px;
  right: 600px;
  display: none;
}

p {
  color: white;
  font-size: 30px;
  padding: 50px 50px 0 100px;
}